* {
background-color: rgb(230, 171, 100);
}

h1 {
    color:crimson;
    text-align:center;
}

.buttons {
    text-align: center;
    align-content: stretch;
    flex-basis: 100%;
    border: 10px double rgb(232, 91, 91);
}

.buttons button {
    width:100%;
    height:100%;
    border: 3px solid transparent;
}

.buttons button:hover {
    background-color: rgb(232, 91, 91);
}