@font-face {
    font-family: "Aboreto";
    src: url(../Rock-Paper-Scissors/Aboreto/Aboreto-Regular.ttf) format='truetype';
}

* {
background-color: rgb(230, 171, 100);
font-family:"Aboreto";
}

#game_over_overlay {

    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(172, 51, 51, 0.5);
    z-index: 1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-size: xxx-large;
    text-align: center;
    display:none;
    flex-grow:1;


}



h1 {
    color:crimson;
    text-align:center;
}

.buttons {
    display:flex;
    text-align: center;
    align-content: stretch;
    flex-basis: 100%;
    border: 10px double rgb(232, 91, 91);
}

.buttons button {
    width:100%;
    height:50px;
    border:1px solid transparent;
    text-align:center;
}

.buttons button:hover {
    background-color: rgb(232, 91, 91);
}

.answers_flex {
    width:100%;
    height:500px;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

#result {
    border: 10px double rgb(232, 91, 91);
    height:100%;
}

#cTally {
    border: 10px double rgb(232, 91, 91);
    height:100%;
}

#pTally {
    border: 10px double rgb(232, 91, 91);
    height:100%;
}

#final {
    border: 10px double rgb(232, 91, 91);
    height:100%;
}

